<% provide(:title, @user.name) %>
<div class="row">
    <section class="col-md-12 container_user_info">
        <%= gravatar_for @user %>
        <h1> <%= @user.name %> </h1>
    </section>
</div>

<div class="row">
    <div class="table">
        <div class="table-row">
          <div class="cell-left col-md-6">Endereço: </div>
          <div class="cell-right col-md-6"><%= @user.address %></div>
        </div>

        <div class="table-row">
          <div class="cell-left col-md-6">Celular:</div>
          <div class="cell-right col-md-6"><%= @user.mobile %></div>
        </div>

        <div class="table-row">
          <div class="cell-left col-md-6">Facebook:</div>
          <div class="cell-right col-md-6"><%= @user.facebook %></div>
        </div>

        <div class="table-row">
          <div class="cell-left col-md-6">Twitter:</div>
          <div class="cell-right col-md-6"><%= @user.twitter %></div>
        </div>

        <div class="table-row">
          <div class="cell-left col-md-6">Telegram:</div>
          <div class="cell-right col-md-6"><%= @user.telegram %></div>
        </div>

        <div class="table-row">
          <div class="cell-left col-md-6">Skype:</div>
          <div class="cell-right col-md-6"><%= @user.skype %></div>
        </div>
    </div>
</div>
